<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Adolescentes/Jovens</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/cadastrarAdolescente.css">
</head>
<body>
    <div id="navbar"></div>
    <div id="sidebar"></div>
    
    
    <div id="container" class="container-mt5">
        <h1>CADASTRAR ADOLESCENTE/JOVEM</h1>
        <BR>
        <div id="form"></div>
    </div>
    <script src="js/components/Admin/navAdmin.js"></script>
    <script src="js/components/Admin/sidebarAdmin.js"></script>
    <script src="js/components/formcad.js"></script>
    <script src="js/AdminGroup_CadastrarAdolescente.js"></script> 


    
	
</body><br><br>
<footer>
    <img src="/images/ASSISTÊNCIA_E_DESENVOLVIMENTO_SOCIAL_CENTRALIZADO_FUNDO_CLARO.png" alt="logo">
    <p>© Prefeitura do Município de São Paulo – Atualizado em 2026.
Sistema de uso interno institucional.</p>
</footer>
</html>
