<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        .login-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        fieldset {
            border: 2px solid #ccc;
            padding: 20px;
            width: 300px;
            text-align: center;
        }
        .fieldset {
            text-align: left;
        }
    </style>
</head>
<body>
    
    <div class="container login-container" style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
        <div>
            <img src="/images/MSE.png" alt="logo-mse" width="100vw" height="100vh">
        </div>
        
        <fieldset>
            
           
            <legend>Login</legend>
            <div class="fieldset">
                <form action="/login" method="post" onsubmit="return validateForm()">
                    <div class="form-group">
                        <label for="login">E-mail:</label>
                        <input type="text" id="login" name="login" class="form-control" required minlength="3" maxlength="100">
                    </div>
                    <div class="form-group">
                        <label for="senha">Senha:</label>
                        <div class="input-group">
                            <input type="password" id="senha" name="senha" class="form-control" required maxlength="18" minlength="6">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibility()">
                                    <i id="eyeIcon" class="fas fa-eye"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <button type="button" id="btnAlterarSenha" class="btn btn-secondary" onclick="redirectToAlterarSenha()">Alterar Senha</button>
                </form>
                <hr>
                <a href="javascript:void(0);" onclick="forgotPasswordAlert()">Esqueci minha senha</a>
            </div>
        </fieldset>
    </div>
	
	<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        document.getElementById('login').value = 'smagi@prefeitura.sp.gov.br';
        document.getElementById('senha').value = 'Covs2@24';
    });
</script>

    <script src="/js/login.js"></script>
</body>
</html>
