<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste Cadastro de Adolescentes/Jovens</title>
   <!-- Adicionando Bootstrap -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <!-- Estilos personalizados -->
    <link rel="stylesheet" href="/css/cadastrarAdolescente.css">
</head>
<body>
    <div id="navbar"></div>
    
    <div id="container" class="container-mt5"> <!-- Container para centralizar e adicionar margem superior -->
        <h1>TESTE CADASTRO</h1>
        <form id="editar-form" method="post">
            <label for="cpf" class="form-label">CPF:</label>
            <input type="text" id="cpf" name="cpf" class="form-control" placeholder="Formato: XXXXXXXXXXX" maxlength="11" minlength="11">
            <div id="error-message" class="error-message"></div>

            <button type="submit" id="cadastrar" class="btn btn-primary">Cadastrar</button>
            <button type="button" id="cancelar" class="btn btn-secondary">Cancelar</button>
        </form>
    </div>

    <script src="js/components/Admin/navAdmin.js"></script>
    <script src="../public/js/teste.js"></script>
</body>
</html>
