@import url(../css/global.css);

html, body {
    height: 100%; /* Garante que o body ocupe 100% da altura da tela */
    margin: 0; /* Remove margens padrão */
}

body {
    background-color: #f8f9fa; /* Fundo cinza claro */
}



.error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 0.25em;
}





form {
    background-color: #f8f9fa; /* Fundo branco */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* Sombra */
    margin-top: 20px; /* Margem superior */
    width: 50%; /* Largura do formulário */
    margin: auto; /* Centraliza o formulário */
    margin-bottom: 10px;
}

label {
    color: #495057; /* Cinza escuro */
}

input[type="text"],
input[type="password"],
select {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ced4da; /* Cinza claro */
    border-radius: 5px;
    width: 100%; /* 100% de largura */
    box-sizing: border-box; /* Incluir padding e borda na largura */
}

button[type="button"] {
    background-color: #007bff; /* Azul */
    color: #fff; /* Branco */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button[type="button"]:hover {
    background-color: #0056b3; /* Azul mais escuro */
}

button[type="submit"] {
    background-color: #007bff; /* Azul */
    color: #fff; /* Branco */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Azul mais escuro */
}

#salvar {
    background-color: #28a745; /* Verde */
}

#salvar:hover {
    background-color: #218838; /* Verde mais escuro */
}

#cancelar {
    background-color: #dc3545; /* Vermelho */
}

#cancelar:hover {
    background-color: #c82333; /* Vermelho mais escuro */
}

.red-asterisk {
    color: red;
}

#cadastroSection {
    position: relative;
    top: 100px; /* Distância do topo, ajustada para ficar abaixo do menu */
    padding-top: 20px;
    width: 100%;
    box-sizing: border-box;
    min-height: calc(100vh - 65px);
    background-color: #f8f9fa;
    padding: 20px;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    margin-top: 20px; /* Ajusta a margem superior */
    font-size: 2em;
    color: #2d2f32;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}


#programas_sociais label {
    margin-left: 5px; /* Espaçamento entre checkbox e label */
}

#programas_sociais div {
    margin-bottom: 8px; /* Espaçamento entre cada linha de checkbox */
}

#buttons_container {
    margin-bottom: 1rem; /* Margem inferior para espaçamento */
}


