@import url(../css/global.css);

html, body {
    height: 100%; /* Garante que o body ocupe 100% da altura da tela */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove espaçamentos padrão */
}

body {
    background-color: #f8f9fa; /* Fundo cinza claro */
}



.unidade-obrigatorio {
    display: none;
}



.error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 0.25em;
}





.active {
    text-decoration:overline;
    padding: 5px;
    margin: 5px;
    border-radius: 5%;
}






form {
    background-color: #fff; /* Fundo branco */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* Sombra */
    margin-top: 20px; /* Margem superior */
    width: 50%; /* Largura do formulário */
    margin: auto; /* Centraliza o formulário */
}

label {
    color: #495057; /* Cinza escuro */
}

input[type="text"],
input[type="password"],
select {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ced4da; /* Cinza claro */
    border-radius: 5px;
    width: 100%; /* 100% de largura */
    box-sizing: border-box; /* Incluir padding e borda na largura */
}

button[type="button"] {
    background-color: #007bff; /* Azul */
    color: #fff; /* Branco */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button[type="button"]:hover {
    background-color: #0056b3; /* Azul mais escuro */
}

#salvar {
    background-color: #28a745; /* Verde */
}

#salvar:hover {
    background-color: #218838; /* Verde mais escuro */
}

#cancelar {
    background-color: #dc3545; /* Vermelho */
}

#cancelar:hover {
    background-color: #c82333; /* Vermelho mais escuro */
}

.red-asterisk {
    color: red;
}





#container {
    position: relative;
    top: 100px; /* Distância do topo, ajustada para ficar abaixo do menu */
    padding-top: 20px;
    width: 100%;
    box-sizing: border-box;
    min-height: calc(100vh - 65px);
    background-color: #fff;
    padding: 20px;
}



footer {
    background-color: #bcc6d0;
    text-align: center;
    padding: 10px 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    width: 100%;
    position: relative; /* Garante que o rodapé esteja abaixo do conteúdo */
    bottom: 0;
    margin-top: 40px; /* Adiciona espaçamento entre o rodapé e o conteúdo */
}

footer img {
    max-width: 75px; /* Reduz a largura máxima */
    max-height: 75px; /* Reduz a altura máxima */
    height: auto; /* Mantém a proporção da imagem */
    margin-bottom: 10px; /* Espaçamento abaixo da imagem */
}

footer p {
    margin: 0; /* Remove margens adicionais */
}