@import url(../css/global.css); 
html, body {
    height: 100%; /* Garante que o body ocupe 100% da altura da tela */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove espaçamentos padrão */
}

body {

    background-color: #f8f9fa; /* Fundo cinza claro */
}



h1 {
    text-align: center;
    margin-top: 5px;
    font-size: 2em; /* Tamanho da fonte */
    color: #2d2f32; /* Cor do texto principal */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4); /* Sombra para o efeito de profundidade */
}


form {
    background-color: #fff; /* Fundo branco */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* Sombra */
    margin-top: 20px; /* Margem superior */
    width: 50%; /* Largura do formulário */
    margin: auto; /* Centraliza o formulário */
}

label {
    color: #495057; /* Cinza escuro */
}

input[type="text"],
input[type="password"],
select {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ced4da; /* Cinza claro */
    border-radius: 5px;
    width: 100%; /* 100% de largura */
    box-sizing: border-box; /* Incluir padding e borda na largura */
}

button[type="button"] {
    background-color: #007bff; /* Azul */
    color: #fff; /* Branco */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button[type="button"]:hover {
    background-color: #0056b3; /* Azul mais escuro */
}

#salvar {
    background-color: #28a745; /* Verde */
}

#salvar:hover {
    background-color: #218838; /* Verde mais escuro */
}

#cancelar {
    background-color: #dc3545; /* Vermelho */
}

#cancelar:hover {
    background-color: #c82333; /* Vermelho mais escuro */
}

.red-asterisk {
    color: red;
}


