/* ============================Menu top============================== */
#nome-usuario {
    min-width: 100px;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff !important; /* sua cor original */

}
.fs-6{
    font-size: 12px;
}

/* Cor dos links */
header .nav-link {
    color: #1a1a1a !important;
    font-weight: 500;
}

header .nav-link:hover {
    font-weight: bold;
    color: #000 !important;
    transform: scale(1.05);
}

/* Logo */
header img {
    max-width: 100px;
    height: auto;
}

/* Botão nome do usuário */
header #nome-usuario, .profile {
    border-color: #000000;
}



/* Botão logout */
header .btn-warning {
    background-color: #333;
    border-color: #333;
    color: #fff;
}

header .btn-warning:hover {
    background-color: #000;
    border-color: #000;
}

/* Compensar o header fixo no conteúdo abaixo */
body {
    padding-top: 80px;
}



/* ============================Menu Lateral============================== */

#menu-lateral {
    position: fixed;
    top: 110px;  /* acompanha a altura do header */
    left: 0;
    width: 15vw;
    min-width: 160px;
    padding: 10px;
    background-color: #005780;
    font-weight: 500;
    color:aliceblue;
    border-right: 1px solid #aaa;
    z-index: 999;
    margin-top: 20px;
    height: 100%;
}

#menu-lateral ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

#menu-lateral ul li {
    margin-bottom: 5px;

}

#menu-lateral a {
    text-decoration: none;
    color:aliceblue;
    display: block;
    padding: 4px 6px;
    border-radius: 4px;
}

#menu-lateral a:hover {
    color: #ffffff;
    font-weight: bold;
    background-color: rgba(0,0,0,0.08);
}

footer {
    background-color: #ffffff;
    text-align: center;
    padding: 10px 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    width: 100%;
    position: relative; /* Garante que o rodapé esteja abaixo do conteúdo */
    bottom: 0;
    margin-top: 60px; /* Adiciona espaçamento entre o rodapé e o conteúdo */
}

footer img {
    max-width: 75px; /* Reduz a largura máxima */
    max-height: 75px; /* Reduz a altura máxima */
    height: auto; /* Mantém a proporção da imagem */
    margin-bottom: 10px; /* Espaçamento abaixo da imagem */
}

footer p {
    margin: 0; /* Remove margens adicionais */
}