<nav id="menu-principal">
    <img src="/images/MSE.png" alt="logo-mse">
    <span>|</span>
    <a href="/consulta">Consulta de Usuários do Sistema </a>
    <span>|</span>
    <a href="/cadastro">Cadastro de Usuários do Sistema</a>
    <span>|</span>
    <a href="/verPessoas">Consulta de Adolescentes/Jovens</a>
    <span>|</span>
    <a href="/adminCadastraPessoa" class="active">Cadastrar Adolescente/Jovem</a>
    <span>|</span>
    <a href="#" onclick="confirmLogout()">Logout</a>
    <span>|</span>
</nav>