<nav id="menu-lateral">
    <ul>
        <hr>
        <li><h5>Menu de Navegação</h3></li>
        <hr>
        <li><a href="#dados-do-servico">Dados do Serviço</a></li>
        <hr>
        <li><a href="#dados-da-pessoa">Dados pessoais do(a) Adolescente/Jovem</a></li>
        <hr>
        <li><a href="#informacoes-do-endereco">Informações do Endereço</a></li>
        <hr>
        <li><a href="#informacoes-da-pessoa">Informações do(a) Adolescente/Jovem</a></li>
        <hr>
        <li><a href="#informacoes-do-processo">Informações do Processo</a></li>
        <hr>
        <li><a href="#unidade-acolhedora">Informações da Unidade Acolhedora</a></li>
        <hr>
        <li><a href="#informacoes-do-contato">Informações do Contato</a></li>
        <hr>
        <li><a href="#identificador-da-pessoa">Identificador do Cadastro</a></li>
        
    </ul>
</nav>