
        <form id="editar-form" method="post">
            <hr><h2 id="dados-do-servico">DADOS DO SERVIÇO</h2><hr>
            <BR>
            <label for="mse">SMSE-MA:<span class="red-asterisk">*</span></label>
            <select id="mse" name="mse" class="form-control" required >
                <option value=""></option>
            </select>

            <label for="creas_atual">CREAS atual:<span class="red-asterisk">*</span></label>
            <select id="creas_atual" name="creas_atual" class="form-control" required>
                <option value=""></option>
            </select>

            <label for="sas">SAS:<span class="red-asterisk">*</span></label>
            <select id="sas" name="sas" class="form-control" required>
                <option value=""></option>
            </select>

            <label for="distrito_servico">Distrito:<span class="red-asterisk">*</span></label>
            <select id="distrito_servico" name="distrito_servico" class="form-control" required>
                <option value=""></option>
            </select>

            <label for="tec_ref">Técnico de referência do adolescente:<span class="red-asterisk">*</span></label>
            <select id="tec_ref" name="tec_ref" class="form-control" required>
                <option value=""></option>
            </select>

            <br>
            <hr><h2 id="dados-da-pessoa">DADOS PESSOAIS DO(A) ADOLESCENTE/JOVEM</h2><hr>
            <br>

            <label for="creas_origem">CREAS de origem:</label>
            <select id="creas_origem" name="creas_origem" class="form-control">
                <option value=""></option>
            </select>

            <label for="nome" class="form-label">Nome completo:<span class="red-asterisk">*</span></label>
            <input type="text" id="nome" name="nome" class="form-control" required minlength="3" maxlength="100">

            <label for="nome_social" class="form-label">Nome social:</label>
            <input type="text" id="nome_social" name="nome_social" class="form-control" minlength="3" maxlength="100">

            <label for="dt_nasc" class="form-label">Data de nascimento:<span class="red-asterisk">*</span></label>
            <input type="date" id="dt_nasc" name="dt_nasc" class="form-control" required min="1900-01-01" max="">
            
            <label for="idade" class="form-label">Idade:<span class="red-asterisk">*</span></label>
            <input type="number" id="idade" name="idade" class="form-control" readonly min="0">

            <label for="cpf" class="form-label">CPF:</label>
            <input type="text" id="cpf" name="cpf" class="form-control" placeholder="Formato: XXXXXXXXXXX" maxlength="11" minlength="11">
            <div id="error-message" class="error-message"></div>

            <label for="cartao_sus" class="form-label">Número do cartão SUS:</label>
            <input type="text" id="cartao_sus" name="cartao_sus" class="form-control" placeholder="Formato: XXXXXXXXXXXXXXX" maxlength="15" minlength="15">

            <label for="cad_unico" class="form-label">Adolescente ou família possui cadastro no CadÚnico?<span class="red-asterisk">*</span></label>           
            <input type="text" id="cad_unico" name="cad_unico" class="form-control" required minlength="3" maxlength="100">

            
            <!-- <label for="nis" class="form-label">NIS:</label>
            <input type="text" id="nis" name="nis" class="form-control" placeholder="Formato: XXXXXXXXXXX" maxlength="11" minlength="11"> -->
            
            <label for="nome_da_mae" class="form-label">Nome da mãe:<span class="red-asterisk">*</span></label>           
            <input type="text" id="nome_da_mae" name="nome_da_mae" class="form-control" required minlength="3" maxlength="100">

            <label for="nome_do_pai" class="form-label">Nome do pai:</label>           
            <input type="text" id="nome_do_pai" name="nome_do_pai" class="form-control" minlength="3" maxlength="100"> 

            <label for="nome_responsavel" class="form-label">Nome do responsável pelo(a) adolescente/jovem:<span class="red-asterisk">*</span></label>
            <input type="text" id="nome_responsavel" name="nome_responsavel" class="form-control" minlength="3" maxlength="100"> 
            

            <label for="raca">Raça/Cor:<span class="red-asterisk">*</span></label>
            <select id="raca" name="raca" class="form-control" required>
                <option value=""></option>
            </select>

            <label for="nacionalidade">Nacionalidade:<span class="red-asterisk">*</span></label>
            <select id="nacionalidade" name="nacionalidade" class="form-control" required>
                <option value=""></option>
            </select>

            <label for="estado_civil">Estado civil:<span class="red-asterisk">*</span></label>
            <select id="estado_civil" name="estado_civil" class="form-control" required>
                <option value=""></option>
            </select>   

            <label for="sexo" class="form-label">Sexo biológico:<span class="red-asterisk">*</span></label> 
            <select id="sexo" name="sexo" class="form-select" required >
                <option value=""></option>
                <option value="F">Feminino</option>
                <option value="M">Masculino</option>
            </select>

            <label for="genero">Identidade de gênero:</label>
            <select id="genero" name="genero" class="form-control" >
                <option value=""></option>
            </select>

            <label for="orientacao_sexual">Orientação sexual:</label>
            <select id="orientacao_sexual" name="orientacao_sexual" class="form-control">
                <option value=""></option>
            </select> 

            <br>
            <hr><h2 id="informacoes-do-endereco">INFORMAÇÕES DO ENDEREÇO DE RESIDÊNCIA DA PESSOA</h2><hr>
            <br>
            <label for="cep" class="form-label">CEP:<span class="red-asterisk">*</span></label>
            <div>
                <input type="text" id="cep" name="cep" class="form-control" required minlength="9" maxlength="9" placeholder="00000-000">
                <button type="button" id="buscar_cep_pessoa" class="btn btn-primary">Buscar CEP</button> 
            </div>

            <label for="rua" class="form-label">Rua:<span class="red-asterisk">*</span></label>
            <input type="text" id="rua" name="rua" class="form-control" required minlength="3" maxlength="100">

            <label for="numero" class="form-label">Número:<span class="red-asterisk">*</span></label>
            <input type="text" id="numero" name="numero" class="form-control" required minlength="1" maxlength="9">

            <label for="complemento" class="form-label">Complemento:</label>
            <input type="text" id="complemento" name="complemento" class="form-control" minlength="3" maxlength="255">

            <label for="bairro" class="form-label">Bairro:<span class="red-asterisk">*</span></label>
            <input type="text" id="bairro" name="bairro" class="form-control" required minlength="3" maxlength="100">

            
            

            <label for="distrito_pessoa">Distrito de residência:<span class="red-asterisk">*</span></label>
            <select id="distrito_pessoa" name="distrito_pessoa" class="form-control" required></select>

            <br>
            <hr><h2 id="informacoes-da-pessoa">INFORMAÇÕES DO(A) ADOLESCENTE/JOVEM</h2><hr>
            <br>

            <h3>ESCOLARIDADE</h3>

            <label for="alfabetizado">É alfabetizado?<span class="red-asterisk">*</span></label>
            <select id="alfabetizado" name="alfabetizado" class="form-control" required>
                <option value=""></option>
                <option value="0">Não</option>
                <option value="1">Sim</option>
            </select> 
             
            <label for="matriculado">Está matriculado?<span class="red-asterisk">*</span></label>
            <select id="matriculado" name="matriculado" class="form-control" required>
                <option value=""></option>
                <option value="0">Não</option>
                <option value="1">Sim</option>
            </select>  

            <label for="paroudeEstudar">Há quanto tempo parou de estudar?<span class="red-asterisk">*</span></label>
            <select id="paroudeEstudar" name="paroudeEstudar" class="form-control" required>
                <option value=""></option>
            </select>  

            <label for="numeroRa" class="form-label">Número do RA (Registro do Aluno):</label>
            <input type="text" id="numeroRa" name="numeroRa" class="form-control"  maxlength="11" minlength="11">

            <label for="concluiuCurso">Concluiu o ciclo de estudo?<span class="red-asterisk">*</span></label>
            <select id="concluiuCurso" name="concluiuCurso" class="form-control" required>
                <option value=""></option>
                <option value="0">Não</option>
                <option value="1">Sim</option>
            </select>  

            <label for="cicloEstudo">Ciclo  que concluiu, está estudando ou parou de estudar:<span class="red-asterisk">*</span></label>
            <select id="cicloEstudo" name="cicloEstudo" class="form-control" required>
                <option value=""></option>
            </select>  

            <label for="tipoEscola">Tipo de escola:<span class="red-asterisk">*</span></label>
            <select id="tipoEscola" name="tipoEscola" class="form-control" required>
                <option value=""></option>
            </select>  

            <label for="ensinoModalidade">Modalidade de ensino:<span class="red-asterisk">*</span></label>
            <select id="ensinoModalidade" name="ensinoModalidade" class="form-control" required>
                <option value=""></option>
            </select>

            <label for="frequenciaAula">É frequente na aula?<span class="red-asterisk">*</span></label>
            <select id="frequenciaAula" name="frequenciaAula" class="form-control" required>
                <option value=""></option>
                <option value="0">Não</option>
                <option value="1">Sim</option>
            </select>  

            <label for="curso">Faz curso profissionalizante?<span class="red-asterisk">*</span></label>
            <select id="curso" name="curso" class="form-select" required >
                <option value=""></option>
                <option value="0">Não</option>
                <option value="1">Sim</option>
            </select>

            <label for="listar_cursos" class="form-label">Se sim, Listar cursos:<span class="red-asterisk">*</span></label>
            <textarea id="listar_cursos" name="listar_cursos" class="form-control" required minlength="3" maxlength="2000" rows="2"></textarea>

            <h3>PLANEJAMENTO FAMILIAR</h3>

            <label for="gestante">É gestante?<span class="red-asterisk">*</span></label>
            <select id="gestante" name="gestante" class="form-select" >
                <option value=""></option>
                <option value="0">Não</option>
                <option value="1">Sim</option>
            </select>

            <label for="parceira_gestante">Possui parceira(o) gestante?<span class="red-asterisk">*</span></label>
            <select id="parceira_gestante" name="parceira_gestante" class="form-select" >
                <option value=""></option>
                <option value="0">Não</option>
                <option value="1">Sim</option>
            </select>

            <label for="lactante">É lactante?<span class="red-asterisk">*</span></label>
            <select id="lactante" name="lactante" class="form-select" >
                <option value=""></option>
                <option value="0">Não</option>
                <option value="1">Sim</option>
            </select>

            <label for="possui_filhos">Possui filhos?<span class="red-asterisk">*</span></label>
            <select id="possui_filhos" name="possui_filhos" class="form-select" required>
                <option value=""></option>
                <option value="0">Não</option>
                <option value="1">Sim</option>
            </select>

            <h3>DADOS DE SAÚDE</h3>

            <label for="possui_deficiencia">É pessoa com deficiência?<span class="red-asterisk">*</span></label>
            <select id="possui_deficiencia" name="possui_deficiencia" class="form-select"  required>
                <option value=""></option>
                <option value="0">Não</option>
                <option value="1">Sim</option>
            </select>

            <label for="deficiencia">Informe o tipo de deficiência:<span class="red-asterisk">*</span></label>
            <select id="deficiencia" name="deficiencia" class="form-control" >
                <option value=""></option>
            </select>

            <label for="necessita_cuidados_terceiros">Necessita de cuidados de terceiros?<span class="red-asterisk">*</span></label>
            <select id="necessita_cuidados_terceiros" name="necessita_cuidados_terceiros" class="form-select" required>
                <option value=""></option>
                <option value="0">Não</option>
                <option value="1">Sim</option>
            </select>

            <label for="acompanhamento_saude">Está em acompanhamento de saúde?<span class="red-asterisk">*</span></label>
            <select id="acompanhamento_saude" name="acompanhamento_saude" class="form-select">
                <option value=""></option>
                <option value="0">Não</option>
                <option value="1">Sim</option>
            </select>
<!-- 
            <label for="ubs">UBS de referência:</label>
            <select id="ubs" name="ubs" class="form-control"></select>
             -->

             <div class="form-group">
                <label for="ubs-input">UBS de referência:</label>
                <input type="text" id="ubs-input" list="ubs-list" class="form-control" placeholder="Digite para pesquisar ou selecione na lista disponivel" autocomplete="off">
                <datalist id="ubs-list"></datalist>
                <!-- Campo oculto para enviar o valor real no formulário -->
                <input type="hidden" id="ubs" name="ubs">
            </div>

            <label style="color: blue; font-size: small;">
                Clique no campo e selecione a UBS na lista de UBS's cadastradas, é possível digitar o nome para filtrar também.
                Caso a UBS desejada não esteja na lista envie e-mail para smagi@prefeitura.sp.gov.br
            </label>

            <br>
            <br>
            
            <label for="possui_demanda_saude">Possui demanda de saúde?<span class="red-asterisk">*</span></label>
            <select id="possui_demanda_saude" name="possui_demanda_saude" class="form-select"  required>
                <option value=""></option>
                <option value="0">Não</option>
                <option value="1">Sim</option>
            </select>

            <label for="saude">Qual a demanda de saúde?<span class="red-asterisk">*</span></label>
            <input type="text" id="saude" name="saude" class="form-control" maxlength="100">

            <label for="possui_demanda_saude_mental">Possui demanda específica de saúde mental?<span class="red-asterisk">*</span></label>
            <select id="possui_demanda_saude_mental" name="possui_demanda_saude_mental" class="form-select"  required >
                <option value=""></option>
                <option value="0">Não</option>
                <option value="1">Sim</option>
            </select>

            <label for="saude_mental">Qual a demanda específica de saúde mental?<span class="red-asterisk">*</span></label>
            <input type="text" id="saude_mental" name="saude_mental" class="form-control" maxlength="100">

            <label for="faz_uso_de_medicamentos">Faz uso de medicação contínua?<span class="red-asterisk">*</span></label>
            <select id="faz_uso_de_medicamentos" name="faz_uso_de_medicamentos" class="form-select" required >
                <option value=""></option>
                <option value="0">Não</option>
                <option value="1">Sim</option>
            </select>

            <label for="medicamentos">Qual o nome da medicação utilizada?:<span class="red-asterisk">*</span></label>
            <input type="text" id="medicamentos" name="medicamentos" class="form-control" maxlength="100" >

            <label for="faz_uso_de_medicamentos_controlados">Faz uso de medicação controlada?<span class="red-asterisk">*</span></label>
            <select id="faz_uso_de_medicamentos_controlados" name="faz_uso_de_medicamentos_controlados" class="form-select" >
                <option value=""></option>
                <option value="0">Não</option>
                <option value="1">Sim</option>
            </select>

            <label for="medicamentos_controlados">Qual o nome da medicação controlada utilizada?:<span class="red-asterisk">*</span></label>
            <input type="text" id="medicamentos_controlados" name="medicamentos_controlados" class="form-control" maxlength="100" required>

            <label for="alcool_ou_drogas">Faz uso de álcool ou drogas?<span class="red-asterisk">*</span></label>
            <select id="alcool_ou_drogas" name="alcool_ou_drogas" class="form-control" required >
                <option value=""></option>
            </select>

            <label for="caps">Está em acompanhamento pelo Centro de Atenção Psicossocial (CAPS)?<span class="red-asterisk">*</span></label>
            <select id="caps" name="caps" class="form-select" required>
                <option value=""></option>
                <option value="0">Não</option>
                <option value="1">Sim</option>
            </select>

            <h3>TRABALHO E RENDA</h3>

            <label for="possui_trabalho">Está trabalhando?<span class="red-asterisk">*</span></label>
            <select id="possui_trabalho" name="possui_trabalho" class="form-select"  >
                <option value=""></option>
                <option value="0">Não</option>
                <option value="1">Sim</option>
            </select>

            <label for="trabalho">Qual o tipo de vínculo empregatício?</label>
            <select id="trabalho" name="trabalho" class="form-control" >
                <option value=""></option>
            </select>

            <div class="mb-3">
                <label for="programas_sociais_container" class="form-label">Programas sociais que está inserido:</label>
                <div id="programas_sociais_container"></div>
            </div>
            
            <div id="buttons_container" class="mb-3">
                <div class="d-flex align-items-center">
                    <button id="add_programa_social" class="btn btn-primary me-2">Adicionar Programa Social</button>
                    <button id="remove_programa_social" class="btn btn-danger" style="display: none;">Remover Último Programa Social</button>
                </div>
            </div>     

            <h3>DADOS SOCIOASSISTENCIAIS</h3>

            <label for="possui_familia_em_servico">Possui familiar em serviço socioassistencial?<span class="red-asterisk">*</span></label>
            <select id="possui_familia_em_servico" name="possui_familia_em_servico" class="form-select" required >
                <option value=""></option>
                <option value="0">Não</option>
                <option value="1">Sim</option>
            </select>

            <label for="servico_familia">Qual a tipologia do serviço na qual o familiar se encontra?</label>
            <select id="servico_familia" name="servico_familia" class="form-control" >
                <option value=""></option>
            </select>

            <label for="responsavel_por_pcd">Reponsável por PCD (Pessoa com deficiência)?<span class="red-asterisk">*</span></label>
            <select id="responsavel_por_pcd" name="responsavel_por_pcd" class="form-select" required>
                <option value=""></option>
                <option value="0">Não</option>
                <option value="1">Sim</option>
            </select>

            <label for="adolescente_com_trajetoria_de_acolhimento">Adolescente com trajetória de acolhimento?<span class="red-asterisk">*</span></label>
            <select id="adolescente_com_trajetoria_de_acolhimento" name="adolescente_com_trajetoria_de_acolhimento" class="form-select" required>
                <option value=""></option>
                <option value="0">Não</option>
                <option value="1">Sim</option>
            </select>

            <br>
            <hr><h2 id="informacoes-do-processo">INFORMAÇÕES DO PROCESSO</h2><hr>
            <br>

            <label for="n_processo" class="form-label">Número do processo de execução:<span class="red-asterisk">*</span></label>
            <input type="text" id="n_processo" name="n_processo" class="form-control" required maxlength="25" minlength="20">
            <div id="error-message-processo" class="error-message"></div>
            
            <label for="n_processo_apuracao" class="form-label">Número do processo de apuração:<span class="red-asterisk">*</span></label>
            <input type="text" id="n_processo_apuracao" name="n_processo_apuracao" class="form-control" required maxlength="25" minlength="20">

            <label for="n_pt" class="form-label">Número da Pasta Técnica (Fundação Casa):</label>
            <input type="text" id="n_pt" name="n_pt" class="form-control" maxlength="5" minlength="5">
            
            <label for="vara_da_infancia">Procedência:</label>
            <select id="vara_da_infancia" name="vara_da_infancia" class="form-control"></select>

            <label for="dt_interpretacao_medida" class="form-label">Data de interpretação da medida<span class="red-asterisk">*</span></label>
            <input type="date" id="dt_interpretacao_medida" name="dt_interpretacao_medida" class="form-control" required min="1900-01-01" max="">

            <label for="dt_ultimo_relatorio_enviado" class="form-label">Data do último relatório enviado<span class="red-asterisk">*</span></label>
            <input type="date" id="dt_ultimo_relatorio_enviado" name="dt_ultimo_relatorio_enviado" class="form-control" required min="1900-01-01" max="">

            <label for="resumo_do_caso" class="form-label">Resumo do caso:<span class="red-asterisk">*</span></label>
            <textarea id="resumo_do_caso" name="resumo_do_caso" class="form-control" required minlength="20" maxlength="2000" rows="5"></textarea>

            <label for="medidas_mse">Tipo de medida socioeducativa:<span class="red-asterisk">*</span></label>
            <select id="medidas_mse" name="medidas_mse" class="form-control" required>
                <option value=""></option>
            </select>

            <label for="situacao_do_processo">Situação da medida socioeducativa:<span class="red-asterisk">*</span></label>
            <select id="situacao_do_processo" name="situacao_do_processo" class="form-control" required></select>
			
			<!-- INÍCIO DA SEÇÃO UNIDADE ACOLHEDORA -->
			<hr>
			<h2 id="unidade-acolhedora">PSC - UNIDADE ACOLHEDORA</h2>
			<hr>
			<br>

			<!-- Tipo de local -->
			<label for="tipo_local">Tipo de local de prestação:<span class="red-asterisk unidade-obrigatorio">*</span></label>
			<select id="tipo_local" name="tipo_local" class="form-control">
				<option value="">Selecione</option>
			</select>

			<!-- Nome da unidade -->
			<label for="nome_unidade">Nome da unidade:<span class="red-asterisk unidade-obrigatorio">*</span></label>
			<input type="text" id="nome_unidade" name="nome_unidade" class="form-control">

			<!-- CEP com botão para buscar endereço -->
			<label for="cep_unidade">CEP do local:<span class="red-asterisk unidade-obrigatorio">*</span></label>
			<div class="input-group">
				<input type="text" id="cep_unidade" name="cep_unidade" class="form-control" placeholder="00000-000" required minlength="9" maxlength="9">
				<button type="button" id="buscar_cep" class="btn btn-primary">Buscar CEP</button>
			</div>

			<!-- Endereço -->
			<!-- Tipo de logradouro -->
			<label for="tipo_logradouro">Tipo de logradouro:<span class="red-asterisk unidade-obrigatorio">*</span></label>
			<select id="tipo_logradouro" name="tipo_logradouro" class="form-control">
				<option value="">Selecione</option>
			</select>
			<!-- Logradouro -->
			<label for="logradouro_unidade" class="form-label">Logradouro:<span class="red-asterisk unidade-obrigatorio">*</span></label>
			<input type="text" id="logradouro_unidade" name="logradouro_unidade" class="form-control" required placeholder="Nome do logradouro" maxlength="100">

			<!-- Número do logradouro -->
			<label for="numero_unidade">Número:<span class="red-asterisk unidade-obrigatorio">*</span></label>
			<input type="text" id="numero_unidade" name="numero_unidade" class="form-control" maxlength="9">
			
			<!-- Complemento -->
			<label for="complemento_unidade">Complemento:</label>
			<input type="text" id="complemento_unidade" name="complemento_unidade" class="form-control" maxlength="50">

			<!-- Bairro -->
			<label for="bairro_unidade">Bairro:<span class="red-asterisk unidade-obrigatorio">*</span></label>
			<input type="text" id="bairro_unidade" name="bairro_unidade" class="form-control" maxlength="60">
              
			<!-- Telefone -->
			<label for="telefone_unidade">Telefone:<span class="red-asterisk unidade-obrigatorio">*</span></label>
			<input type="text" id="telefone_unidade" name="telefone_unidade" class="form-control telefone-br" placeholder="(11) 91234-5678">  

			<!-- Datas de início e término da medida -->
			<label for="horario_inicio_unidade">Horário de início da medida:<span class="red-asterisk unidade-obrigatorio">*</span></label>
			<input type="time" id="horario_inicio_unidade" name="horario_inicio_unidade" class="form-control" required>

			<label for="horario_fim_unidade">Horário de término da medida:<span class="red-asterisk unidade-obrigatorio">*</span></label>
			<input type="time" id="horario_fim_unidade" name="horario_fim_unidade" class="form-control" required>

			<!-- Dias da semana -->
			<label>Dia da semana que presta a medida:<span class="red-asterisk unidade-obrigatorio">*</span></label>
			<div id="dias_semana" required>
				<label><input type="checkbox" name="dias[]" value="Segunda">Segunda</label>
				<label><input type="checkbox" name="dias[]" value="Terça">Terça</label>
				<label><input type="checkbox" name="dias[]" value="Quarta">Quarta</label>
				<label><input type="checkbox" name="dias[]" value="Quinta">Quinta</label>
				<label><input type="checkbox" name="dias[]" value="Sexta">Sexta</label>
				<label><input type="checkbox" name="dias[]" value="Sábado">Sábado</label>
				<label><input type="checkbox" name="dias[]" value="Domingo">Domingo</label>
			</div>
             <label style="color: blue; font-size: small;">
                Caso os horários das medidas sejam distintos, favor informá-los no campo “Resumo do Caso”, de forma clara e objetiva.
            </label>


			<!-- Nome do responsável -->
			<label for="responsavel_unidade">Nome da pessoa responsável na unidade acolhedora:<span class="red-asterisk unidade-obrigatorio">*</span></label>
			<input type="text" id="responsavel_unidade" name="responsavel_unidade" class="form-control" required>

			<!-- Atividade -->
			<label for="atividade_unidade">Atividade que ele desenvolve:<span class="red-asterisk unidade-obrigatorio">*</span></label>
			<select id="atividade_unidade" name="atividade_unidade" class="form-control" required>
				<option value="">Selecione</option>
			</select>

			<!-- Número de horas (decimal com vírgula) -->
			<label for="horas_psc">Número de horas da PSC estipulada pelo juiz:<span class="red-asterisk unidade-obrigatorio">*</span></label>
			<input type="text" id="horas_psc" name="horas_psc" class="form-control" placeholder="Ex: 3">

            <br>
            <hr><h2 id="informacoes-do-contato">INFORMAÇÕES DO CONTATO</h2><hr>
            <br>

            <label for="nome_do_contato" class="form-label">Nome do contato:<span class="red-asterisk">*</span></label>
            <input type="text" id="nome_do_contato" name="nome_do_contato" class="form-control" minlength="3" maxlength="100" required>

            <label for="tipo_de_contato">Tipo de contato:<span class="red-asterisk">*</span></label>
            <select id="tipo_de_contato" name="tipo_de_contato" class="form-control" required></select>

            <label for="telefone" class="form-label">Telefone:<span class="red-asterisk">*</span></label>
			<input type="text" id="telefone" name="telefone" class="form-control telefone-br" placeholder="(11) 91234-5678">

            <label for="email" class="form-label">E-mail:<span class="red-asterisk">*</span></label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Formato: email@exemplo.com" required minlength="3" maxlength="100">
            
            <br>
            <hr><h2 id="identificador-da-pessoa">IDENTIFICADOR DO CADASTRO</h2><hr>
            <br>

            <label for="ativo_inativo" class="form-label">Status do cadastro:<span class="red-asterisk">*</span></label>
            <select id="ativo_inativo" name="ativo_inativo" class="form-select" required>
                <option value=""></option>
                <option value="1">Ativo</option>
                <option value="0">Inativo</option>
            </select>

            <br>

            <button type="submit" id="cadastrar" class="btn btn-primary">Cadastrar</button>
            <button type="button" id="cancelar" class="btn btn-secondary">Cancelar</button>
			<button type="button" id="btnPreencherTeste" class="btn btn-secondary">
    Preencher dados para teste
</button>


        </form>